:root{
  --bg : #172146 ;
  --home:#0A153E ;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body{
  background: linear-gradient(to left bottom , var(--bg) , #0a153e7b);
}

.container{
  width: min(70% , 70.5rem);
  margin: 2rem auto;
  border-radius: 1rem;
  margin-inline:auto ;
  /* background-color: #e4e4e4e4; */
}



.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.header{
  color: #eee;
  display: grid;
  grid-template-columns: 1fr 2fr ;
  align-items: center;
  justify-content: center;
  background: #101c426c;
 
  border-radius: 1rem;
  padding: .5rem;
  margin: auto;
  height: 7rem;
}




.good{
  color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  text-transform: capitalize;
  text-align: center;
}



.time{
width: 100%;
margin-top: 2rem;
justify-content: center;
align-items: center;
position: sticky;
top: 0;
overflow: auto;

} 

.header .logo{
 width: 100%;
 height: 7rem;


}

.logo img{
  height: 100%;
  border-radius: 50%;
}

nav ul li , a{
  list-style: none;
  display: inline;
  margin: 1rem;
  font-size: 2rem;
  color: #eee;
  cursor: pointer;
  text-decoration: none;
}

.form{
  margin-top: 10rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
  padding: 2rem ;
  gap: 1rem;
  border-radius: .5rem;
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


form input[type="text"]{
  display: block;
  background-color: nono;
  background: none;
  border: none;
  border-bottom: solid 2px #000;
  padding:  1rem;
  margin: 0 auto;
  outline: none;
  font-size: 20px;
}

form input[type="text"]:focus{
  border-radius: .5rem;
  background-color: none;
  border: none;
  border-bottom: solid 2px #000;
}


form input[type="submit"]{
  display: block;
  margin: 1rem auto;
  width: 25%;
  border: none;
  background-color: var(--home);
  color: #fff;
  border-radius: .5rem;
  font-size: 1.5rem;
  padding: .5rem;
  cursor: pointer;
  opacity: .5;
}


form input[type="submit"]:hover{
  width: 50%;
  opacity: 1;
  transition: all .5s;
}
.content{
  display: flex;
  flex-direction:column ;
  gap: 2rem;
  padding: 0 1rem;
}
.title{
  display: flex;
  gap: 1rem;
  /* padding: 1rem; */
  border-bottom: 1px solid gray;
}


#about{
  margin-top: 15rem;
}
.about{
  text-transform: capitalize;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr  ;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
 
}

.item{
  box-shadow: 0 0.3rem 0.5px var(--bg);
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  padding: 2rem 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

.item:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


footer{
  background: #0A153E;
  margin-top: 20rem ;
  padding: 1rem 5rem;
  color: #eee;
  
}

.contact{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.con svg{
  border-radius: 50%;
  height: 5rem ;
  width: 5rem;
  cursor: pointer;
}

.reserv{
  background-color: #172146;
  width: 100%;
  text-transform: capitalize;
}

.reserv p{
  margin: 0 1rem ;
  color: #eee;
}


@media only screen and (max-width: 800px) {
 
  .header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
  }
  .logo{
    text-align: center;
    border-radius: 50%;
  }
  .time{
    font-weight: bolder;
  }
  .good{
    background-color: #555;
    border-radius: .5rem;
    padding: .5rem;
  }
  .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 1rem ; */
    border: none;
    box-shadow: none;

  }
  .content  , .title{
    width: 100%;
  }

  .about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .item{
    width: 80%;
    box-shadow: 0 0.3rem 0.5px var(--bg);
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
    padding: 2rem 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  
  }

.contact{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
  
}